$bp-xsmall: 320px;
$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1200px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == xsmall {
    @media (max-width: #{$bp-xsmall}) { @content; }
  } @else if $breakpoint == small {
    @media (max-width: #{$bp-small}) { @content; }
  } @else if $breakpoint == medium {
    @media (max-width: #{$bp-medium}) { @content; }
  } @else if $breakpoint == large {
    @media (max-width: #{$bp-large}) { @content; }
  }
}
