<!-- modal -->
<div class="gallery-modal visually-hidden" role="dialog" aria-modal="true" aria-labelledby="gallery-modal-heading">
  <div class="gallery-modal__overlay"></div>

  <figure class="gallery-modal__content">
    <!-- modal heading for screen readers -->
    <h2 id="gallery-modal-heading" class="visually-hidden">image larger view</h2>

    <!-- close button -->
    <button class="gallery-modal__close" aria-label="Close modal">&times;</button>

    <!-- image with descriptive alt text dynamically populated -->
    <img class="gallery-modal__image" src="" alt="">

    <!-- caption for screen readers -->
    <figcaption class="gallery-modal__caption visually-hidden"></figcaption>
  </figure>
</div>
